					<!-- ChatterBox -->
					<div class="row-fluid">
						<div class="span2">
							<div id="users"></div>
						</div>
						<div class="span6">
							<div class="well" id="messages">
							</div>
							<form class="form-inline">
								<fieldset>
									<div class="control-group">
										<div class="controls">
											<div class="input-append">
												<input size="16" type="text" placeholder="Message..." value="" />
												<button class="btn" type="button">Send</button>
											</div>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
					<!-- ChatterBox Ends -->
